[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-cors-headers = "*"
django-filter = "*"
markdown = "*"
django-rest-knox = {file = "https://github.com/James1345/django-rest-knox/archive/develop.zip"}
django-environ = "*"
psycopg2 = "*"
gunicorn = "*"
pytz = "*"
dj-database-url = "*"

[dev-packages]
flake8 = "*"
black = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
